.flex-container {

    display: flex; 
    flex-direction: column;

    background-color: #ffffff;
    height: 100%;
    padding: 10px 100px;
    gap: 5px;

  }

  @media screen and (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.div-guest{
  background-color: rgb(236, 236, 236);
  padding: 40px 20px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
}



.div-booking{
  background-color: rgb(236, 236, 236);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

}


.button-container {
  padding:15px 40px;
  gap: 10px !important;

}

.button-guest {
 min-width: 250px;
 padding: 5px 20px 5px 20px;
}

.guest-button-container {
  width: 30%;
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
}

.title-toolbar {
  padding: 30px;
}

.button-toolbar {
  padding: 25px;
  color: #058f3a !important;
}

.toolbar {
  background-color: rgb(236, 236, 236);
  padding: 10px 100px;

  /* box-shadow: -6px 5px 59px 1px #000000 !important; */
}

table {
  width: 100%;
}