<mat-toolbar class="toolbar">
    <div class="title-toolbar">
        <h1>Hotel</h1>
    </div>
    <div class="button-container">
        <button mat-button class="button-toolbar" (click)="openGuest()">Cadastrar Hóspede</button>
        <button mat-button class="button-toolbar" (click)="openBooking()">Cadastrar Reserva</button>
    </div>
</mat-toolbar>
<div class="flex-container">
    <div class="div-booking">
        <div class="guest-button-container">
            <div class="table-title">
                <h1>Reservas | Hospedagens</h1>
            </div>
            <button mat-button color="primary" (click)="getBookings()">
                <mat-icon>refresh</mat-icon>
              </button>        </div>
        <booking-table #bookingTable [elementData]="bookingList"></booking-table>
    </div>
    <div class="div-guest">
        <div class="guest-button-container">
            <div class="table-title">
                <h1>Clientes</h1>
            </div>
            <button mat-raised-button color="primary" class="button-container" (click)="getGuests()">Todos</button>
            <button mat-raised-button color="primary" class="button-container"
                (click)="locateActiveGuests()">Ativos</button>
            <button mat-raised-button color="primary" class="button-container"
                (click)="locateScheduledBookings()">Futuros</button>
        </div>
        <guest-table #guestTable [elementData]="guestList"></guest-table>
    </div>
</div>