<div class="default">
    <form class="adjust">
        <div class="title-modal">
            Cadastro de Reserva
        </div>
        <table>
            <td>
                <tr>
                    <mat-form-field class="input-date-modal">
                        <input matInput [matDatepicker]="pickerCheckin" [(ngModel)]="scheduledCheckinDate" name="scheduledCheckinDate"  placeholder="Previsão de Check-in">
                        <mat-datepicker-toggle matSuffix [for]="pickerCheckin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerCheckin></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="input-date-modal">
                        <input matInput [matDatepicker]="pickerCheckout"  [(ngModel)]="scheduledCheckoutDate" name="scheduledCheckoutDate"  placeholder="Previsão de Check-out">
                        <mat-datepicker-toggle matSuffix [for]="pickerCheckout"></mat-datepicker-toggle>
                        <mat-datepicker #pickerCheckout></mat-datepicker>
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field class="input-modal">
                        <mat-label>Id do Usuário</mat-label>
                        <input type="tel" matInput [(ngModel)]="id" name="id" placeholder="9 5555 1234" inputMode="numeric" pattern="[0-9]*">

                    </mat-form-field>
                </tr>
                <tr>
                    <section class="example-section">
                        <mat-checkbox [(ngModel)]="usePark" name="usePark" >Usa Estacionamento</mat-checkbox>
                    </section>
                </tr>
                <tr>
                    <div class="container-buttons">
                        <button mat-raised-button color="warn" class="button-modal">Cancelar</button>
                        <button mat-raised-button color="primary" class="button-modal"
                            (click)="salvarDados()">Salvar</button>
                    </div>
                </tr>
            </td>
        </table>
    </form>
</div>