<div class="default">
    <form class="adjust">
        <div class="title-modal">
            Deseja excluir essa reserva?
        </div>
        <table>
            <td>
               
                <tr>
                    <div class="container-buttons">
                        <button mat-raised-button color="primary" class="button-modal"  (click)="closeModal()">Cancelar</button>
                        <button mat-raised-button color="warn" class="button-modal"
                            (click)="deleteBooking()">Excluir</button>
                    </div>
                </tr>
            </td>
        </table>
    </form>
</div>